### **ðŸ§­ Stage 1 â†’ Lesson 4: Importing & Exporting Data (I/O Operations)**

**ðŸŽ¯ Objective**

By the end of this lesson, youâ€™ll:

- Load data from various sources (CSV, Excel, JSON, SQL)
- Handle file paths, encodings, missing headers
- Export clean datasets in multiple formats
 -Work with real data import/export patterns used in ETL

#### **ðŸ§± Pandas I/O Ecosystem Overview**

Pandas supports reading and writing 40+ data formats through its I/O API.

| **Format**        | **Read Function**    | **Write Function**   |
|-------------------|----------------------|----------------------|
| CSV               | `read_csv()`         | `to_csv()`           |
| Excel             | `read_excel()`       | `to_excel()`         |
| JSON              | `read_json()`        | `to_json()`          |
| Parquet           | `read_parquet()`     | `to_parquet()`       |
| SQL               | `read_sql()`         | `to_sql()`           |
| Clipboard         | `read_clipboard()`   | â€”                    |

**Importing necessary libraries**

In [1]:
import pandas as pd
import numpy as np

**ðŸ§© Reading CSV Files**

In [16]:
# Since pandas is being used to handle the data, we assume it has already been imported. 
# If not, you can import it like this:
# import pandas as pd

# Step 2: Reading data from a CSV file
# pd.read_csv() is used to read a CSV file and load its contents into a pandas DataFrame.
# The 'r' before the file path is used to indicate a raw string, which ensures that backslashes in file paths are interpreted correctly.
df_SalesData = pd.read_csv(r"C:\Users\dhira\Desktop\python-mastery\pandas\dataset\raw\sample_sales.csv")

# Step 3: Displaying the first few rows of the DataFrame
# .head() is a pandas function that returns the first 5 rows of the DataFrame by default. 
# This is useful for quickly inspecting the structure of the data, ensuring it's loaded correctly.
print(df_SalesData.head())

         Date     Product  Units  UnitPrice  Revenue
0  01-01-2024     Monitor     46       1999    91954
1  02-01-2024    Keyboard      8       9999    79992
2  03-01-2024  Headphones     25        999    24975
3  04-01-2024     Monitor     35      14999   524965
4  05-01-2024  Headphones     25       2999    74975

**Parameters for `read_csv()` and Other I/O Functions**
| **Parameter**     | **Description**                              |
|-------------------|----------------------------------------------|
| `sep`             | Specify separator (default `,`)              |
| `header`          | Row number(s) to use as the column names    |
| `names`           | Custom column names (overrides header)      |
| `index_col`       | Set column(s) to be used as index          |
| `usecols`         | Load selected columns                       |
| `nrows`           | Limit the number of rows to read           |
| `encoding`        | Handle text encodings like `UTF-8`, `ISO-8859-1`, etc. |

In [3]:
print("Orifinal_Data:\n",df_SalesData.head())

Orifinal_Data:
          Date     Product  Units  UnitPrice  Revenue
0  01-01-2024     Monitor     46       1999    91954
1  02-01-2024    Keyboard      8       9999    79992
2  03-01-2024  Headphones     25        999    24975
3  04-01-2024     Monitor     35      14999   524965
4  05-01-2024  Headphones     25       2999    74975

In [ ]:
# Step 1: Defining the file path
# The path to the CSV file is defined as a raw string (r) to handle any backslashes in the file path correctly.
sales_data_path = r"C:\Users\dhira\Desktop\python-mastery\pandas\dataset\raw\sample_sales.csv"

# Step 2: Reading the CSV file with specific columns
# pd.read_csv() is used to read the data from the CSV file.
# The 'usecols' parameter specifies which columns to read from the CSV file.
# In this case, only the 'Product', 'Units', and 'Revenue' columns will be loaded into the DataFrame.
df_SalesData = pd.read_csv(sales_data_path, usecols=['Product', 'Units', 'Revenue'])

# Step 3: Displaying the first few rows of the DataFrame
# .head() returns the first 5 rows of the DataFrame, which is useful for verifying that the correct data has been loaded.
df_SalesData.head()

      Product  Units  Revenue
0     Monitor     46    91954
1    Keyboard      8    79992
2  Headphones     25    24975
3     Monitor     35   524965
4  Headphones     25    74975

**Handling Missing or Bad Data**

In [5]:
df = pd.read_csv(sales_data_path,na_values=['?','NA','Missing'])
df

           Date     Product  Units  UnitPrice  Revenue
0    01-01-2024     Monitor     46       1999    91954
1    02-01-2024    Keyboard      8       9999    79992
2    03-01-2024  Headphones     25        999    24975
3    04-01-2024     Monitor     35      14999   524965
4    05-01-2024  Headphones     25       2999    74975
..          ...         ...    ...        ...      ...
115  25-04-2024  Headphones     26       4999   129974
116  26-04-2024    Keyboard     42      14999   629958
117  27-04-2024      Laptop     22        999    21978
118  28-04-2024     Monitor     14       1999    27986
119  29-04-2024       Mouse      2       2999     5998

[120 rows x 5 columns]

**Large File Optimization**

In [ ]:
import pandas as pd

# Define the path to the Superstore Sales dataset using a raw string
superstore_sales = r"C:\Users\dhira\Desktop\python-mastery\pandas\dataset\raw\superstore_sales.csv"

# Try to read the CSV file in chunks, with error handling for possible issues
try:
    # Read the CSV file in chunks of 100 rows at a time using a different encoding (ISO-8859-1)
    # The 'ISO-8859-1' encoding is often used for files containing special characters in European languages.
    df_superstore = pd.read_csv(superstore_sales, encoding="ISO-8859-1", chunksize=100)

    # Iterate through each chunk of 100 rows and print the first 5 rows
    for data in df_superstore:
        print(data.head())  # Using .head() to display just the first 5 rows of each chunk

except FileNotFoundError:
    # If the file is not found, this block will catch it and print a custom error message
    print(f"The file at {superstore_sales} does not exist. Please check the file path.")

except Exception as e:
    # Catch any other unexpected errors and print them
    print(f"An error occurred: {e}")

   Row ID        Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
0       1  CA-2016-152156  11-08-2016  11-11-2016    Second Class    CG-12520
1       2  CA-2016-152156  11-08-2016  11-11-2016    Second Class    CG-12520
2       3  CA-2016-138688  06-12-2016   6/16/2016    Second Class    DV-13045
3       4  US-2015-108966  10-11-2015  10/18/2015  Standard Class    SO-20335
4       5  US-2015-108966  10-11-2015  10/18/2015  Standard Class    SO-20335

     Customer Name    Segment        Country             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

  Postal Code  Region       Product ID         Category Sub-Category  \
0       42420   South  FUR-BO-10001798        Furniture    Bookcases
1       42420   South  FUR-CH-10000454        Furniture       Chairs
2       90036    West  OFF-LA-10000240  Office Supplies       Labels
3       33311   South  FUR-TA-10000577        Furniture       Tables
4       33311   South  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                     Eldon Fold 'N Roll Cart System   22.3680         2

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164

[5 rows x 21 columns]
     Row ID        Order ID  Order Date   Ship Date       Ship Mode  \
100     101  CA-2016-158568   8/29/2016  09-02-2016  Standard Class
101     102  CA-2016-158568   8/29/2016  09-02-2016  Standard Class
102     103  CA-2016-129903  12-01-2016  12-04-2016    Second Class
103     104  US-2015-156867  11/13/2015  11/17/2015  Standard Class
104     105  US-2015-156867  11/13/2015  11/17/2015  Standard Class

    Customer ID  Customer Name      Segment        Country       City  ...  \
100    RB-19465   Rick Bensley  Home Office  United States    Chicago  ...
101    RB-19465   Rick Bensley  Home Office  United States    Chicago  ...
102    GZ-14470  Gary Zandusky     Consumer  United States  Rochester  ...
103    LC-16870  Lena Cacioppo     Consumer  United States     Aurora  ...
104    LC-16870  Lena Cacioppo     Consumer  United States     Aurora  ...

    Postal Code   Region       Product ID         Category Sub-Category  \
100       60610  Central  TEC-AC-10001767       Technology  Accessories
101       60610  Central  OFF-BI-10002609  Office Supplies      Binders
102       55901  Central  OFF-PA-10004040  Office Supplies        Paper
103       80013     West  TEC-AC-10001552       Technology  Accessories
104       80013     West  FUR-FU-10004006        Furniture  Furnishings

                                          Product Name    Sales  Quantity  \
100  SanDisk Ultra 64 GB MicroSDHC Class 10 Memory ...   95.976         3
101      Avery Hidden Tab Dividers for Binding Systems    1.788         3
102  Universal Premium White Copier/Laser Paper (20...   23.920         4
103             Logitech K350 2.4Ghz Wireless Keyboard  238.896         6
104  Deflect-o DuraMat Lighweight, Studded, Beveled...  102.360         3

     Discount   Profit
100       0.2 -10.7973
101       0.8  -3.0396
102       0.0  11.7208
103       0.2 -26.8758
104       0.2  -3.8385

[5 rows x 21 columns]
     Row ID        Order ID  Order Date   Ship Date       Ship Mode  \
200     201  CA-2017-105074   6/24/2017   6/29/2017  Standard Class
201     202  CA-2014-133690  08-03-2014  08-05-2014     First Class
202     203  CA-2014-133690  08-03-2014  08-05-2014     First Class
203     204  US-2017-116701  12/17/2017  12/21/2017    Second Class
204     205  CA-2017-126382  06-03-2017  06-07-2017  Standard Class

    Customer ID     Customer Name    Segment        Country      City  ...  \
200    MB-17305   Maria Bertelson   Consumer  United States     Akron  ...
201    BS-11755     Bruce Stewart   Consumer  United States    Denver  ...
202    BS-11755     Bruce Stewart   Consumer  United States    Denver  ...
203    LC-17140      Logan Currie   Consumer  United States    Dallas  ...
204    HK-14890  Heather Kirkland  Corporate  United States  Franklin  ...

    Postal Code   Region       Product ID         Category Sub-Category  \
200       44312     East  OFF-PA-10002666  Office Supplies        Paper
201       80219     West  FUR-TA-10004289        Furniture       Tables
202       80219     West  OFF-AP-10003622  Office Supplies   Appliances
203       75220  Central  OFF-AP-10003217  Office Supplies   Appliances
204       37064    South  FUR-FU-10002960        Furniture  Furnishings

                                          Product Name    Sales  Quantity  \
200  Southworth 25% Cotton Linen-Finish Paper & Env...   21.744         3
201  BoxOffice By Design Rectangular and Half-Moon ...  218.750         2
202  Bravo II Megaboss 12-Amp Hard Body Upright, Re...    2.600         1
203               Eureka Sanitaire  Commercial Upright   66.284         2
204         Eldon 200 Class Desk Accessories, Burgundy   35.168         7

     Discount    Profit
200       0.2    6.7950
201       0.5 -161.8750
202       0.2    0.2925
203       0.8 -178.9668
204       0.2    9.6712

[5 rows x 21 columns]
     Row ID        Order ID  Order Date   Ship Date       Ship Mode  \
300     301  CA-2016-142545  10/28/2016  11-03-2016  Standard Class
301     302  CA-2016-142545  10/28/2016  11-03-2016  Standard Class
302     303  CA-2016-142545  10/28/2016  11-03-2016  Standard Class
303     304  US-2017-152380  11/19/2017  11/23/2017  Standard Class
304     305  CA-2015-144253  05-04-2015  05-09-2015    Second Class

    Customer ID      Customer Name    Segment        Country           City  \
300    JD-15895   Jonathan Doherty  Corporate  United States     Belleville
301    JD-15895   Jonathan Doherty  Corporate  United States     Belleville
302    JD-15895   Jonathan Doherty  Corporate  United States     Belleville
303    JH-15910    Jonathan Howell   Consumer  United States        Chicago
304    AS-10225  Alan Schoenberger  Corporate  United States  New York City

     ... Postal Code   Region       Product ID         Category Sub-Category  \
300  ...        7109     East  OFF-PA-10004243  Office Supplies        Paper
301  ...        7109     East  FUR-FU-10001861        Furniture  Furnishings
302  ...        7109     East  OFF-BI-10002706  Office Supplies      Binders
303  ...       60623  Central  FUR-TA-10002533        Furniture       Tables
304  ...       10024     East  FUR-FU-10002671        Furniture  Furnishings

                                          Product Name    Sales  Quantity  \
300                                         Xerox 1939   56.910         3
301  Floodlight Indoor Halogen Bulbs, 1 Bulb per Pa...   77.600         4
302  Avery Premier Heavy-Duty Binder with Round Loc...   14.280         1
303                              BPI Conference Tables  219.075         3
304  Electrix 20W Halogen Replacement Bulb for Zoom...   26.800         2

     Discount    Profit
300       0.0   27.3168
301       0.0   38.0240
302       0.0    6.5688
303       0.5 -131.4450
304       0.0   12.8640

[5 rows x 21 columns]
     Row ID        Order ID  Order Date   Ship Date       Ship Mode  \
400     401  CA-2016-108987  09-08-2016  09-10-2016    Second Class
401     402  CA-2016-108987  09-08-2016  09-10-2016    Second Class
402     403  CA-2014-113166  12/24/2014  12/26/2014     First Class
403     404  CA-2014-155208   4/16/2014   4/20/2014  Standard Class
404     405  CA-2017-117933  12/24/2017  12/29/2017  Standard Class

    Customer ID     Customer Name    Segment        Country           City  \
400    AG-10675       Anna Gayman   Consumer  United States        Houston
401    AG-10675       Anna Gayman   Consumer  United States        Houston
402    LF-17185       Luke Foster   Consumer  United States          Miami
403    SP-20650  Stephanie Phelps  Corporate  United States     Wilmington
404    RF-19840   Roy FranzÃ¶sisch   Consumer  United States  New York City

     ... Postal Code   Region       Product ID         Category Sub-Category  \
400  ...       77036  Central  OFF-ST-10000934  Office Supplies      Storage
401  ...       77036  Central  TEC-AC-10000158       Technology  Accessories
402  ...       33180    South  OFF-PA-10001947  Office Supplies        Paper
403  ...       28403    South  OFF-AR-10003478  Office Supplies          Art
404  ...       10024     East  OFF-AP-10004249  Office Supplies   Appliances

                                          Product Name    Sales  Quantity  \
400             Contico 72"H Heavy-Duty Storage System  131.136         4
401      Sony 64GB Class 10 Micro SDHC R40 Memory Card   57.584         2
402                                         Xerox 1974    9.568         2
403  Avery Hi-Liter EverBold Pen Style Fluorescent ...   39.072         6
404                                      Staple holder   35.910         3

     Discount   Profit
400       0.2 -32.7840
401       0.2   0.7198
402       0.2   3.4684
403       0.2   9.7680
404       0.0   9.6957

[5 rows x 21 columns]
     Row ID        Order ID Order Date   Ship Date       Ship Mode  \
500     501  US-2016-105578  5/30/2016  06-04-2016  Standard Class
501     502  US-2016-105578  5/30/2016  06-04-2016  Standard Class
502     503  US-2016-105578  5/30/2016  06-04-2016  Standard Class
503     504  US-2016-105578  5/30/2016  06-04-2016  Standard Class
504     505  US-2016-105578  5/30/2016  06-04-2016  Standard Class

    Customer ID    Customer Name    Segment        Country    City  ...  \
500    MY-17380  Maribeth Yedwab  Corporate  United States  Parker  ...
501    MY-17380  Maribeth Yedwab  Corporate  United States  Parker  ...
502    MY-17380  Maribeth Yedwab  Corporate  United States  Parker  ...
503    MY-17380  Maribeth Yedwab  Corporate  United States  Parker  ...
504    MY-17380  Maribeth Yedwab  Corporate  United States  Parker  ...

    Postal Code  Region       Product ID         Category Sub-Category  \
500       80134    West  OFF-BI-10001670  Office Supplies      Binders
501       80134    West  OFF-BI-10001658  Office Supplies      Binders
502       80134    West  FUR-CH-10001215        Furniture       Chairs
503       80134    West  OFF-BI-10000831  Office Supplies      Binders
504       80134    West  OFF-PA-10000357  Office Supplies        Paper

                                          Product Name    Sales  Quantity  \
500                       Vinyl Sectional Post Binders   22.620         2
501                   GBC Standard Therm-A-Bind Covers   14.952         2
502      Global Troy Executive Leather Low-Back Tilter  801.568         2
503   Storex Flexible Poly Binders with Double Pockets    2.376         3
504  White Dual Perf Computer Printout Paper, 2700 ...   32.792         1

     Discount   Profit
500       0.7 -15.0800
501       0.7 -11.9616
502       0.2  50.0980
503       0.7  -1.9008
504       0.2  11.8871

[5 rows x 21 columns]
     Row ID        Order ID Order Date  Ship Date       Ship Mode Customer ID  \
600     601  US-2016-100720  7/16/2016  7/21/2016  Standard Class    CK-12205
601     602  US-2016-100720  7/16/2016  7/21/2016  Standard Class    CK-12205
602     603  CA-2014-149958  3/15/2014  3/19/2014  Standard Class    AS-10240
603     604  CA-2014-149958  3/15/2014  3/19/2014  Standard Class    AS-10240
604     605  CA-2014-149958  3/15/2014  3/19/2014  Standard Class    AS-10240

           Customer Name   Segment        Country          City  ...  \
600  Chloris Kastensmidt  Consumer  United States  Philadelphia  ...
601  Chloris Kastensmidt  Consumer  United States  Philadelphia  ...
602         Alan Shonely  Consumer  United States         Tampa  ...
603         Alan Shonely  Consumer  United States         Tampa  ...
604         Alan Shonely  Consumer  United States         Tampa  ...

    Postal Code  Region       Product ID         Category Sub-Category  \
600       19120    East  TEC-PH-10003963       Technology       Phones
601       19120    East  OFF-SU-10001574  Office Supplies     Supplies
602       33614   South  OFF-ST-10001490  Office Supplies      Storage
603       33614   South  FUR-FU-10001756        Furniture  Furnishings
604       33614   South  OFF-BI-10000773  Office Supplies      Binders

                                          Product Name    Sales  Quantity  \
600                      GE 2-Jack Phone Line Splitter  494.376         4
601                           Acme Value Line Scissors    5.840         2
602                     Hot File 7-Pocket, Floor Stand  142.776         1
603  Eldon Expressions Desk Accessory, Wood Photo F...   45.696         3
604                Insertable Tab Post Binder Dividers    7.218         3

     Discount    Profit
600       0.4 -115.3544
601       0.2    0.7300
602       0.2   17.8470
603       0.2    5.1408
604       0.7   -5.5338

[5 rows x 21 columns]
     Row ID        Order ID  Order Date   Ship Date       Ship Mode  \
700     701  CA-2015-119291   5/14/2015   5/17/2015     First Class
701     702  CA-2017-114552  09-02-2017  09-08-2017  Standard Class
702     703  CA-2016-163755  11-04-2016  11-08-2016    Second Class
703     704  CA-2015-142027  04-09-2015   4/14/2015  Standard Class
704     705  CA-2014-138527  09-12-2014   9/17/2014  Standard Class

    Customer ID     Customer Name      Segment        Country        City  \
700    JO-15550      Jesus Ocampo  Home Office  United States     Chester
701    Dl-13600      Dorris liebe    Corporate  United States   Cleveland
702    AS-10285  Alejandro Savely    Corporate  United States     Seattle
703    JK-15370        Jay Kimmel     Consumer  United States  Long Beach
704    BN-11470      Brad Norvell    Corporate  United States        Cary

     ... Postal Code  Region       Product ID         Category Sub-Category  \
700  ...       19013    East  OFF-BI-10001982  Office Supplies      Binders
701  ...       44105    East  FUR-FU-10002960        Furniture  Furnishings
702  ...       98103    West  FUR-FU-10003394        Furniture  Furnishings
703  ...       90805    West  FUR-TA-10002774        Furniture       Tables
704  ...       27511   South  OFF-PA-10001800  Office Supplies        Paper

                                   Product Name    Sales  Quantity  Discount  \
700  Wilson Jones Custom Binder Spines & Labels    4.896         3       0.7
701  Eldon 200 Class Desk Accessories, Burgundy   15.072         3       0.2
702      Tenex "The Solids" Textured Chair Mats  209.880         3       0.0
703                  Laminate Occasional Tables  369.912         3       0.2
704                                   Xerox 220   10.368         2       0.2

      Profit
700  -3.4272
701   4.1448
702  35.6796
703 -13.8717
704   3.6288

[5 rows x 21 columns]
     Row ID        Order ID  Order Date  Ship Date       Ship Mode  \
800     801  CA-2017-105809   2/20/2017  2/23/2017     First Class
801     802  CA-2017-105809   2/20/2017  2/23/2017     First Class
802     803  CA-2016-136133   8/18/2016  8/23/2016    Second Class
803     804  CA-2016-115504  03-12-2016  3/17/2016  Standard Class
804     805  CA-2017-135783   4/22/2017  4/24/2017     First Class

    Customer ID    Customer Name    Segment        Country           City  \
800    HW-14935  Helen Wasserman  Corporate  United States      San Diego
801    HW-14935  Helen Wasserman  Corporate  United States      San Diego
802    HW-14935  Helen Wasserman  Corporate  United States  New York City
803    MC-18130      Mike Caudle  Corporate  United States         Monroe
804    GM-14440      Gary McGarr   Consumer  United States  San Francisco

     ... Postal Code  Region       Product ID         Category Sub-Category  \
800  ...       92105    West  FUR-FU-10004090        Furniture  Furnishings
801  ...       92105    West  TEC-PH-10001580       Technology       Phones
802  ...       10024    East  OFF-AP-10000576  Office Supplies   Appliances
803  ...       71203   South  OFF-PA-10003953  Office Supplies        Paper
804  ...       94122    West  FUR-FU-10000794        Furniture  Furnishings

                                          Product Name    Sales  Quantity  \
800      Executive Impressions 14" Contract Wall Clock   22.230         1
801  Logitech Mobile Speakerphone P710e -Â speaker p...  215.968         2
802                     Belkin 7 Outlet SurgeMaster II  355.320         9
803                                          Xerox 218   12.960         2
804      Eldon Stackable Tray, Side-Load, Legal, Smoke   18.280         2

     Discount   Profit
800       0.0   7.3359
801       0.2  18.8972
802       0.0  99.4896
803       0.0   6.2208
804       0.0   6.2152

[5 rows x 21 columns]
     Row ID        Order ID  Order Date   Ship Date       Ship Mode  \
900     901  CA-2017-150959  11-11-2017  11/13/2017     First Class
901     902  CA-2017-150959  11-11-2017  11/13/2017     First Class
902     903  CA-2017-132353   9/15/2017   9/17/2017     First Class
903     904  CA-2016-130477  04-08-2016  04-12-2016  Standard Class
904     905  CA-2016-130477  04-08-2016  04-12-2016  Standard Class

    Customer ID  Customer Name   Segment        Country         City  ...  \
900    TD-20995  Tamara Dahlen  Consumer  United States      Garland  ...
901    TD-20995  Tamara Dahlen  Consumer  United States      Garland  ...
902    DB-13060    Dave Brooks  Consumer  United States      Chicago  ...
903    LC-17140   Logan Currie  Consumer  United States  Los Angeles  ...
904    LC-17140   Logan Currie  Consumer  United States  Los Angeles  ...

    Postal Code   Region       Product ID         Category Sub-Category  \
900       75043  Central  OFF-LA-10001045  Office Supplies       Labels
901       75043  Central  OFF-BI-10001510  Office Supplies      Binders
902       60653  Central  TEC-PH-10004536       Technology       Phones
903       90032     West  OFF-PA-10002947  Office Supplies        Paper
904       90032     West  OFF-ST-10002583  Office Supplies      Storage

                                          Product Name    Sales  Quantity  \
900  Permanent Self-Adhesive File Folder Labels for...   10.440         5
901          Deluxe Heavy-Duty Vinyl Round Ring Binder   18.336         4
902                           Avaya 5420 Digital phone  323.976         3
903                                         Xerox 1923   20.040         3
904                  Fellowes Neat Ideas Storage Cubes   64.960         2

     Discount   Profit
900       0.2   3.3930
901       0.8 -32.0880
902       0.2  20.2485
903       0.0   9.6192
904       0.0   2.5984

[5 rows x 21 columns]

**ðŸ§© Reading Excel Files**

In [ ]:
# Import pandas library (make sure you've imported it before running this code)
import pandas as pd

# Define the path to the Excel file containing the dataset.
# Update this path if the file is stored elsewhere on your system.
people_basic = r"C:\Users\dhira\Desktop\python-mastery\pandas\dataset\raw\people_basic_data.xlsx"

# Read the Excel file into a pandas DataFrame.
# pd.read_excel() automatically detects the sheet unless specified using 'sheet_name' parameter.
df_exl = pd.read_excel(people_basic)

# Display the first 5 rows of the DataFrame to get a quick overview of the data.
# This helps verify that the file was read correctly and understand the structure of the dataset.
print(df_exl.head())

     Name  Age       City  Salary_INR
0   Aarav   23     Mumbai      115059
1  Vivaan   50  Ahmedabad       93035
2  Aditya   46  Ahmedabad       61033
3  Vihaan   37       Pune      187550
4   Arjun   37      Delhi      162866

**ðŸ§© Reading Excel Files (Sheets)**

In [ ]:
# Import pandas library â€” required for data manipulation and reading Excel files
import pandas as pd

# Define the path to the Excel file.
# The 'r' before the string makes it a raw string, so backslashes are treated literally.
people_basic_sheet = r"C:\Users\dhira\Desktop\python-mastery\pandas\dataset\raw\people_basic_data.xlsx"

# Read a specific sheet ("peoplebasic") from the Excel file into a pandas DataFrame.
# The 'sheet_name' parameter specifies which sheet to load â€” useful when the file contains multiple sheets.
df_ex_sheet = pd.read_excel(people_basic_sheet, sheet_name="peoplebasic")

# Print the entire DataFrame to view its contents.
# Be careful: if the dataset is large, this will print all rows.
# You can use df_ex_sheet.head() instead to show only the first 5 rows.
print(df_ex_sheet.head())

     Name  Age       City  Salary_INR
0   Aarav   23     Mumbai      115059
1  Vivaan   50  Ahmedabad       93035
2  Aditya   46  Ahmedabad       61033
3  Vihaan   37       Pune      187550
4   Arjun   37      Delhi      162866

**Multiple Sheets at Once**

In [ ]:
# Import pandas library â€” used for data analysis and Excel file handling
import pandas as pd

# Define the path to the Excel file containing multiple sheets.
# The 'r' before the string makes it a raw string so backslashes are treated literally.
people_basic_sheet = r"C:\Users\dhira\Desktop\python-mastery\pandas\dataset\raw\people_basic_data.xlsx"

# Read all sheets from the Excel file into a dictionary of DataFrames.
# Setting sheet_name=None tells pandas to read *every* sheet in the file.
# The resulting object is a dictionary where:
#   - Keys = sheet names
#   - Values = DataFrames containing the data from each sheet
dfs_multi_sheet = pd.read_excel(people_basic_sheet, sheet_name=None)

# Print the keys (sheet names) of the dictionary.
# This shows which sheets were loaded from the Excel file.
print(dfs_multi_sheet.keys())

dict_keys(['peoplebasic'])

**ðŸ§© Reading JSON Files**

In [ ]:
# Import pandas library â€” required for handling JSON, Excel, CSV, and other data formats
import pandas as pd

# Define the path to the JSON file.
# The 'r' prefix makes it a raw string literal, so backslashes are treated literally (useful for Windows paths).
sales_json = r"C:\Users\dhira\Desktop\python-mastery\pandas\dataset\raw\sales_data.json"

# Read the JSON file into a pandas DataFrame.
# pd.read_json() automatically converts JSON structures (like arrays or objects) into tabular format.
# The JSON file should contain a valid structure such as:
# [
#   {"date": "2025-01-01", "sales": 200, "region": "North"},
#   {"date": "2025-01-02", "sales": 250, "region": "South"}
# ]
df_json = pd.read_json(sales_json)

# Display the DataFrame to verify that the JSON data was loaded correctly.
print(df_json)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

**ðŸ§© Reading Data from URLs or APIs**

In [11]:
# Import pandas library â€” required for reading CSV files and data manipulation
import pandas as pd

# Define the URL of the CSV file.
# This file is hosted online on GitHub and contains the famous Iris dataset.
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv"

# Read the CSV file directly from the URL into a pandas DataFrame.
# pd.read_csv() can handle both local file paths and URLs.
df = pd.read_csv(url)

# Display the first 5 rows of the DataFrame.
# This gives a quick overview of the dataset's structure and contents.
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [12]:

import requests

url = "https://data.wa.gov/api/views/f6w7-q2d2/rows.json?accessType=DOWNLOAD"


response = requests.get(url)
invest_data = response.json()

rows = invest_data['data']

columns = [col['name'] for col in invest_data['meta']['view']['columns']]

df = pd.DataFrame(rows, columns=columns)
print(df.head)

<bound method NDFrame.head of                        sid                                    id  position  \
0       row-qsfa-65pn_v9u2  00000000-0000-0000-E9FC-12701D5586E7         0
1       row-4tqm_us9b_wbj5  00000000-0000-0000-B530-5CDA42E30834         0
2       row-rws4_ztb8.gq89  00000000-0000-0000-9BDE-49CFA3DEF257         0
3       row-vzyr_pt7h_wabd  00000000-0000-0000-3DC6-8268AF9133D9         0
4       row-jhd9_idhy~hxxg  00000000-0000-0000-EC81-B0E440208B03         0
...                    ...                                   ...       ...
269668  row-zsu6~nyk7-8pt5  00000000-0000-0000-01F0-A452036752C6         0
269669  row-mpbp~2ev5-qjt7  00000000-0000-0000-CC91-101F0076685B         0
269670  row-2ss3~c9iw.j6jw  00000000-0000-0000-9F59-D918D94029B8         0
269671  row-8i5u_u3ij~hcwq  00000000-0000-0000-6BF3-C41558A6510B         0
269672  row-x7px~2fmc~bz2h  00000000-0000-0000-A085-4490E86B2CBD         0

        created_at created_meta  updated_at updated_meta meta  VIN (1-10)  \
0       1763494396         None  1763494542         None  { }  3C3CFFGE1G
1       1763494396         None  1763494542         None  { }  WP0AB2Y16L
2       1763494396         None  1763494542         None  { }  5YJ3E1EB2J
3       1763494396         None  1763494542         None  { }  5YJYGDEF5L
4       1763494396         None  1763494542         None  { }  5YJXCBE22J
...            ...          ...         ...          ...  ...         ...
269668  1763494396         None  1763494600         None  { }  5YJSA1E24F
269669  1763494396         None  1763494600         None  { }  5YJ3E1EB7R
269670  1763494396         None  1763494600         None  { }  5YJYGDEF5M
269671  1763494396         None  1763494600         None  { }  7SAYGDEE0S
269672  1763494396         None  1763494600         None  { }  JM3KKEHA0S

           County  ... Electric Range Base MSRP Legislative District  \
0          Yakima  ...             84         0                   14
1            King  ...            203         0                   47
2            King  ...            215         0                   36
3            King  ...            291         0                   46
4        Thurston  ...            238         0                   22
...           ...  ...            ...       ...                  ...
269668   Thurston  ...            208         0                   22
269669   Kittitas  ...              0         0                   13
269670     Skagit  ...              0         0                   40
269671  Snohomish  ...              0         0                   21
269672   Thurston  ...             26         0                   22

       DOL Vehicle ID             Vehicle Location  \
0           180778377  POINT (-120.60199 46.59817)
1           277717723  POINT (-122.18497 47.28825)
2           475865722  POINT (-122.35022 47.63824)
3           108837249  POINT (-122.30253 47.72656)
4           259851259  POINT (-122.89165 47.03954)
...               ...                          ...
269668      284900234  POINT (-122.78158 47.05335)
269669      267534781  POINT (-120.54872 46.99703)
269670      276242116    POINT (-122.397 48.56045)
269671      275865992  POINT (-122.27981 47.85727)
269672      279137897  POINT (-122.78158 47.05335)

                                         Electric Utility 2020 Census Tract  \
0                                              PACIFICORP       53077000401
1           PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)       53033029602
2            CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA)       53033007002
3            CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA)       53033000202
4                                  PUGET SOUND ENERGY INC       53067010802
...                                                   ...               ...
269668                             PUGET SOUND ENERGY INC       53067012225
269669  BONNEVILLE POWER ADMINISTRATION||CITY OF ELLEN...       53037975500
269670                             PUGET SOUND ENERGY INC       53057950802
269671                             PUGET SOUND ENERGY INC       53061041816
269672                             PUGET SOUND ENERGY INC       53067012221

       Counties Congressional Districts  \
0          2746                       4
1          3009                       8
2          3009                       7
3          3009                       7
4          2742                      10
...         ...                     ...
269668     2742                      10
269669     3194                       8
269670     3212                       2
269671     3213                       2
269672     2742                      10

       WAOFM - GIS - Legislative District Boundary
0                                               20
1                                               15
2                                               31
3                                               48
4                                               28
...                                            ...
269668                                           2
269669                                          19
269670                                          43
269671                                           7
269672                                           2

[269673 rows x 28 columns]>

**ðŸ§© Writing (Exporting) Data**

In [ ]:
df_expo = df.to_csv(r"C:\Users\dhira\Desktop\python-mastery\pandas\dataset\superstore_sales_cleaned.csv", index=False)

print(df_expo)

None

**Write to Excel**

In [14]:
# Import pandas library â€” required for data manipulation and exporting data
import pandas as pd

# Assuming 'df' is the cleaned sales DataFrame that you want to export

# Reset the index of the DataFrame.
# drop=True ensures that the old index is removed and not added as a column.
df_reset = df.reset_index(drop=True)

# Export the cleaned DataFrame to an Excel file.
# The 'index=False' argument prevents the DataFrame's index from being written to the file.
# This saves the DataFrame to the specified path without the index column, which is often not needed in the output.
df_reset.to_excel(r"C:\Users\dhira\Desktop\python-mastery\pandas\dataset\people_basic_data.xlsx", index=False)

# Print the cleaned DataFrame to verify the changes before saving
print(df_reset)

                       sid                                    id  position  \
0       row-qsfa-65pn_v9u2  00000000-0000-0000-E9FC-12701D5586E7         0
1       row-4tqm_us9b_wbj5  00000000-0000-0000-B530-5CDA42E30834         0
2       row-rws4_ztb8.gq89  00000000-0000-0000-9BDE-49CFA3DEF257         0
3       row-vzyr_pt7h_wabd  00000000-0000-0000-3DC6-8268AF9133D9         0
4       row-jhd9_idhy~hxxg  00000000-0000-0000-EC81-B0E440208B03         0
...                    ...                                   ...       ...
269668  row-zsu6~nyk7-8pt5  00000000-0000-0000-01F0-A452036752C6         0
269669  row-mpbp~2ev5-qjt7  00000000-0000-0000-CC91-101F0076685B         0
269670  row-2ss3~c9iw.j6jw  00000000-0000-0000-9F59-D918D94029B8         0
269671  row-8i5u_u3ij~hcwq  00000000-0000-0000-6BF3-C41558A6510B         0
269672  row-x7px~2fmc~bz2h  00000000-0000-0000-A085-4490E86B2CBD         0

        created_at created_meta  updated_at updated_meta meta  VIN (1-10)  \
0       1763494396         None  1763494542         None  { }  3C3CFFGE1G
1       1763494396         None  1763494542         None  { }  WP0AB2Y16L
2       1763494396         None  1763494542         None  { }  5YJ3E1EB2J
3       1763494396         None  1763494542         None  { }  5YJYGDEF5L
4       1763494396         None  1763494542         None  { }  5YJXCBE22J
...            ...          ...         ...          ...  ...         ...
269668  1763494396         None  1763494600         None  { }  5YJSA1E24F
269669  1763494396         None  1763494600         None  { }  5YJ3E1EB7R
269670  1763494396         None  1763494600         None  { }  5YJYGDEF5M
269671  1763494396         None  1763494600         None  { }  7SAYGDEE0S
269672  1763494396         None  1763494600         None  { }  JM3KKEHA0S

           County  ... Electric Range Base MSRP Legislative District  \
0          Yakima  ...             84         0                   14
1            King  ...            203         0                   47
2            King  ...            215         0                   36
3            King  ...            291         0                   46
4        Thurston  ...            238         0                   22
...           ...  ...            ...       ...                  ...
269668   Thurston  ...            208         0                   22
269669   Kittitas  ...              0         0                   13
269670     Skagit  ...              0         0                   40
269671  Snohomish  ...              0         0                   21
269672   Thurston  ...             26         0                   22

       DOL Vehicle ID             Vehicle Location  \
0           180778377  POINT (-120.60199 46.59817)
1           277717723  POINT (-122.18497 47.28825)
2           475865722  POINT (-122.35022 47.63824)
3           108837249  POINT (-122.30253 47.72656)
4           259851259  POINT (-122.89165 47.03954)
...               ...                          ...
269668      284900234  POINT (-122.78158 47.05335)
269669      267534781  POINT (-120.54872 46.99703)
269670      276242116    POINT (-122.397 48.56045)
269671      275865992  POINT (-122.27981 47.85727)
269672      279137897  POINT (-122.78158 47.05335)

                                         Electric Utility 2020 Census Tract  \
0                                              PACIFICORP       53077000401
1           PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)       53033029602
2            CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA)       53033007002
3            CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA)       53033000202
4                                  PUGET SOUND ENERGY INC       53067010802
...                                                   ...               ...
269668                             PUGET SOUND ENERGY INC       53067012225
269669  BONNEVILLE POWER ADMINISTRATION||CITY OF ELLEN...       53037975500
269670                             PUGET SOUND ENERGY INC       53057950802
269671                             PUGET SOUND ENERGY INC       53061041816
269672                             PUGET SOUND ENERGY INC       53067012221

       Counties Congressional Districts  \
0          2746                       4
1          3009                       8
2          3009                       7
3          3009                       7
4          2742                      10
...         ...                     ...
269668     2742                      10
269669     3194                       8
269670     3212                       2
269671     3213                       2
269672     2742                      10

       WAOFM - GIS - Legislative District Boundary
0                                               20
1                                               15
2                                               31
3                                               48
4                                               28
...                                            ...
269668                                           2
269669                                          19
269670                                          43
269671                                           7
269672                                           2

[269673 rows x 28 columns]

**ðŸ§© Reading/Writing from SQL (Preview)**

In [15]:
# import sqlite3
# conn = sqlite3.connect('../datasets/raw/sample.db')

# df = pd.read_sql("SELECT * FROM sales", conn)
# df.to_sql('cleaned_sales', conn, if_exists='replace', index=False)
# conn.close()